@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Open Sans", sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}

header.topo {
}

.menu {
}

.menu a {
}

.principal {
}

.texto-principal {
}

.texto-principal h1 {
}

.botao-principal {
}

.imagem-principal {
}

.imagem-principal img {
}

.listras {
}

.campanha {
}

.caixa-campanha {
}

.botao-campanha {
}

.bloco2 {
}

.bloco3 {
}

.profissionais {
}

.medicos {
}

.pessoa {
}

.avaliacoes {
}


.contato {
}

.caixa-contato {
}

.formulario {
}

.formulario input {
}

.formulario textarea {
}

.botao-enviar {
}

.descricao {
}

.logo-descricao {
}

.informacoes {
}

.coluna {
}

.titulo-coluna {
}

.redes-sociais {
}

.redes-sociais a {
}

.redes-sociais img {
}


.rodape {
}
